<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the first django project</title>
</head>
<body>
    <h1 style="background-color: antiquewhite" align="center">用户登录</h1>
    <form action="/ShowResult/" method="post">
        用户名：<input type="text" name="user">
        密码：<input type="text" name="password">
        <input type="submit" value="提交">
    </form>
    <div id="navigate-bar">
        折叠显示
    </div>
    <div id = "content">
        点击展示内容
    </div>

    <script>
        $("")

    </script>
</body>
</html>