<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中央定价维护</title>
    <script>

    </script>
</head>
<body>
    <form action="/insertCenterPrice/" method="post">
        check_in <input type="text" name="check_in"><p/>
        check_out <input type="text" name="check_out"><p/>
        elong_mhotel <input type="text" name="elong_mhotel"><p/>
        elong_mroom <input type="text" name="elong_mroom"><p/>
        pc_price<input type="text" name="pc_deal_price"><p/>
        app_price<input type="text" name="app_deal_price"><p/>
        settlement<input type="text" name="pay-type"><p/>
        breakfast<input type="text" name="breakfast"><p/>
        <input type="submit" value="提交">
    </form>
</body>
</html>