<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插入马甲数据</title>
</head>
<body>
    <form action="/insertMajia/" method="post">
        check_in <input type="text" name="check_in"><p/>
        check_out <input type="text" name="check_out"><p/>
        elong_mhotel <input type="text" name="elong_mhotel"><p/>
        elong_mroom <input type="text" name="elong_mroom"><p/>
        ctrip_price<input type="text" name="ctrip_price"><p/>
        qunar_price<input type="text" name="qunar_price"><p/>
        settlement<input type="text" name="settlement"><p/>
        breakfast<input type="text" name="breakfast"><p/>
        <input type="submit" value="插入">
    </form>
</body>
</html>